* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

.navbar-brand {
    margin-right: 100px !important;
}

.navbar-nav {
    gap: 20px;
}


#jumbotron {
    display: block;
    background-image: url(/assets/img/piano-electronico-interior-habitacion-sobre-fondo-borroso.jpg);
    background-position:center;
    
    /* padding: 50px;
    padding-left: 50px !important;
    padding-right: 50px !important; */
    margin: 0 !important;
    height: 400px;
    width: 100%; 
    padding: 0 !important;
}

#mensajejumbotron {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100% !important;
    height: 100%;
    margin: 0 !important;
    padding-left: 10%;
    padding-top: 5%;
}

#mensajejumbotron a {
    color: white;
    text-decoration: none;
}



#mensajejumbotron h1 {
    color: white;
    margin-top: 8px;
    margin-bottom: 15px;
}

#mensajejumbotron h5 {
    color: white;
    margin-bottom:20px;
}

.input-group {
    width: 300px !important;
}

.form-control {
    width: 50px !important;
    border-radius: 10px !important;
}

#button-addon2 {
    margin-left: 10px;
    border-radius: 10px;
    border-color: white;
    background-color: white;
    color: black;
}
