* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    }

.navbar-brand {
    margin-right: 100px !important;
}

.navbar-nav {
    gap: 20px;
}

/* JUMBOTRON */

#jumbotron {
    margin: 0;
    padding: 0;
    /* background-color: black; */
    color: white;
    margin: 0;
}

.jumbotronlevel1 {
    background-image: url(./img/seccion-intermedia-estudiante-tocando-piano.jpg);
    /* background-position: 610rem; */
    background-size: cover;
    background-position: center;
}

.jumbotronlevel2 {
    background-color:rgba(0, 0, 0, 0.7);
}

.jumbotronlevel3 {
    padding: 100px;
}

/* SECCION MODALIDADES DE ESTUDIO */

#modalidadesestudio {
    padding-block: 80px;
    padding-inline: 200px;
    align-items: center !important;
}

#rowmodalidades {
    gap: 70px !important;
}

.card {
    width: 100% !important;
}


.card-title , .card-text {
    align-items: center !important;
    text-align: center !important;
}

.card-body {
    align-items: center !important;
    text-align: center !important;
}

/* SECCION REGISTRO DE USUARIOS */

.contenedor{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.leftcontenedor{
    background-image: url(./img/piano-electronico-interior-habitacion-sobre-fondo-borroso.jpg);
    background-size: cover;
    background-position: center;

}
.rightcontenedor{
    background-color:black;
    display: grid;
    /* place-items: center; */
    color:white;
    padding:80px;
}

.rightcontenedor button{
    
    color: black;
    border: solid;
    width: 110px;
}

.rightcontenedor button:hover{   
    background-color: var(--secondary-dark);
    color: black;
    
}

.form-control {
    color: black !important;
}

#h4rightcontenedor {
    margin: 0;
    text-align: start;
}

#footer {
    background-color: chocolate;
}