* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

.navbar-brand {
    margin-right: 100px !important;
}

.navbar-nav {
    gap: 20px;
}

/* JUMBOTRON */

#jumbotron {
    margin: 0;
    padding: 0;
    /* background-color: black; */
    color: white;
    margin: 0;
}

.jumbotronlevel1 {
    background-image: url(./img/seccion-intermedia-estudiante-tocando-piano.jpg);
    background-position: 610rem;
}

.jumbotronlevel2 {
    background-color:rgba(0, 0, 0, 0.6);
}

.jumbotronlevel3 {
    padding: 100px;
}

/* SECCION MODALIDADES DE ESTUDIO */

#modalidadesestudio {
    padding-block: 80px;
    padding-inline: 200px;
    align-items: center !important;
}

#rowmodalidades {
    gap: 70px !important;
}

.card {
    width: 100% !important;
}


.card-title , .card-text {
    align-items: center !important;
    text-align: center !important;
}

.card-body {
    align-items: center !important;
    text-align: center !important;
}

/* SECCION REGISTRO DE USUARIOS */

#registrousuario {
    margin: 0;
}

#leftregistro {
    margin: 0;
    padding: 50px;
    background-color: aqua;
}

#rightregistro {
    margin: 0;
    padding: 0;
    background-color: blueviolet;
}